


.layer {
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;

    white-space: nowrap;
    opacity: 0;
    line-height: 10px;
}


@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}